
body {
    background-image: url("../images/polka-dots.png");
}

.jumbotron {
    background-color: white;
    text-align: center;
    height: 80%;
    padding: 20px;
    border: 2px solid black;
    opacity: .85;
}

.jumbotron h1 {
    font-size: 5em;
}



.row {
    width: 99%;
    position: relative;
    left: 20px;
}
.left {
    background-color: gray;
    height:90vh;
    padding-bottom: 50px;
    overflow: scroll;
    overflow-x: hidden;
    
}


.right {
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}
.buttons button:hover {
    background-color: blue;
    color: white;
    
}

.foods {
    display: block;
}

.rating {
    display: block;
    color: white;
}