
body {
    background-image: url("../images/polka-dots.png");
}

.header {
    background-color: white;
    text-align: center;
    height: 125px;
    border: 2px solid black;
    opacity: .85;
}

.header h1 {
    font-size: 5em;
}

.left {
    background-color: gray;
    height:90vh;
    padding-bottom: 50px;
    overflow: scroll;
    overflow-x: hidden;
    
}


.right {
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}
.buttons button:hover {
    background-color: blue;
    color: white;
    
}

.foods {
    display: block;
}

.rating {
    display: block;
    color: white;
}