
body {
    background-image: url("../images/polka-dots.png");
}

.jumbotron {
    background-color: white;
    text-align: center;
    height: 80%;
    padding: 20px;
    border: 2px solid black;
    opacity: .85;
}

.jumbotron h1 {
    font-size: 5em;
}

.row {
    width: 99%;
    position: relative;
    left: 20px;
}
.left {
    background-color: gray;
    height:75vh;
    padding-bottom: 50px;
    padding-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
     
}

#food-input {
    width: 285px;
}

.right {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}
.buttons button:hover {
    background-color: blue;
    color: white;
}

.gifs img:hover {
    border: 3px solid blue;
}

.foods {
    display: block;
}

.rating {
    display: block;
    color: white;
}